@model NiceApp.Models.DTO.VehicleDTO

@{
    ViewData["Title"] = "Create";
}

<h1>add</h1>

<h4>VehicleDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*                <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="VehicleName" class="control-label"></label>
                <input asp-for="VehicleName" class="form-control" />
                <span asp-validation-for="VehicleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlateNo" class="control-label"></label>
                <input asp-for="PlateNo" class="form-control" />
                <span asp-validation-for="PlateNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialRentPrice" class="control-label"></label>
                <input asp-for="InitialRentPrice" class="form-control" />
                <span asp-validation-for="InitialRentPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentRatePerHr" class="control-label"></label>
                <input asp-for="RentRatePerHr" class="form-control" />
                <span asp-validation-for="RentRatePerHr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penalty" class="control-label"></label>
                <input asp-for="Penalty" class="form-control" />
                <span asp-validation-for="Penalty" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Availability" /> @Html.DisplayNameFor(model => model.Availability)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="VehicleType" class="control-label"></label>
                <input asp-for="VehicleType" class="form-control" />
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleKind" class="control-label"></label>
                <input asp-for="VehicleKind" class="form-control" />
                <span asp-validation-for="VehicleKind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhereStored" class="control-label"></label>
            
                <select asp-for="WhereStored" class="form-control" id="station" name="station" asp-items="@ViewBag.AllVehiclesListStation " value="@if(@ViewBag.AllVehiclesListStation != null){
                                    @ViewBag.AllVehiclesListStation}" required>
                                    </select>
            
               
                <span asp-validation-for="WhereStored" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tracker" class="control-label"></label>
                <input asp-for="Tracker" class="form-control" />
                <span asp-validation-for="Tracker" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VehicleImages" class="control-label"></label>
                <input type="file" id="file1" multiple="multiple" asp-for="VehicleImages" class="form-control" />
                <span asp-validation-for="VehicleImages" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjscloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjscloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>


    <script>
        $(document).ready(function() {
    $("#station").select2();
});
    </script>
}

