@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>

    <section class="bg-light d-flex justify-content-center">
        <h1>Email has been sent</h1>
        <h3>Please verify it.</h3>
    </section>
</body>
</html>
