@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>

    <section class="bg-light d-flex justify-content-center">
        <h2>
            Please check your email to change your password.
        </h2>
    </section>
</body>
</html>
