<!DOCTYPE html>
<html lang="en">
<body>

    <section class="bg-light d-flex justify-content-center">
        <h2>
            Your User Status is InActive.
        </h2>
    </section>
</body>
</html>
