@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>

    <section class="bg-light d-flex justify-content-center">
        <h2>Password has been changed sucessfully.</h2>
        <a href="/Account/Login">Go to login </a>
    </section>
</body>
</html>

